.container {
  display: flex;
  min-height: var(--size-touch-min);
  list-style-type: none;
  padding: 0;
  align-items: center;
}

.container:hover {
  background-color: var(--color-container);
  color: var(--color-on-container);
}

.itemStart {
  flex: 1;
}

.itemEnd {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
.badge {
  background-color: var(--purple-500);
  color: white;
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}
.item:hover {
  background-color: var(--color-primary-hover);
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  width: 100%;
  background: none;
  transition: background 0.2s;
  color: var(--color-on-container);
}
