.container {
  background-color: var(--surface-variant-light);
  background-color: light-dark(
    var(--surface-variant-light),
    var(--surface-variant-dark)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.start {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoContainer {
  width: var(--size-touch-min);
  height: var(--size-touch-min);
  background-color: light-dark(
    var(--surface-variant-light),
    var(--surface-variant-dark)
  );
  border-radius: var(--radius-pill);
  display: flex;
  align-items: center;
  justify-content: center;
}

.centre {
  flex: 1;
}

.end {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
