.container {
  background-color: light-dark(var(--color-surface-variant-light), var(--color-surface-variant-dark ));
  color: light-dark(var(--color-on-surface-light), var(--color-on-surface-dark));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.start {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoContainer {
  width: var(--length-min-touch-target);
  height: var(--length-min-touch-target);
  background-color: var(--color-surface-0);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centre {
  flex: 1;
}

.end {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
