.container {
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--radius-sm);
  height: var(--size-touch-min);
  width: fit-content;
  color: var(--color-on-primary);
  cursor: pointer;
}

.container:focus {
  outline: 2px solid pink;
  outline-offset: 2px;
}

.container:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-primary-text);
}
