:global(.body) {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}
a {
  color: inherit;
}
:global(html) {
  font-family: "Inter", Arial, sans-serif;
}

a {
  color: inherit;
}
