.root {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  select {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid
      light-dark(var(--surface-container-light), var(--surface-container-dark));
    background-color: light-dark(var(--surface-light), var(--surface-dark));
    color: light-dark(var(--on-surface-light), var(--on-surface-dark));

    option {
      background-color: light-dark(var(--surface-light), var(--surface-dark));
      color: light-dark(var(--on-surface-light), var(--on-surface-dark));
    }
  }
}
