.appShell {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;

  background-color: var(--color-background);
  /* color: var(--color-on-surface); */
}
