/* packages/tokens/globals.css */

:root {
  color-scheme: light dark;
  font-family: "Inter", Arial, sans-serif;
}

html {
  background-color: light-dark(
    var(--color-background-light),
    var(--color-background-dark)
  );
  color: var(--color-text-primary);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  min-height: 100dvh;
  margin: 0;
}
