/* packages/tokens/globals.css */

:root {
  color-scheme: light dark;
  font-family: var(--font-family-body);
}

html {
  background-color: light-dark(
    var(--color-background-light),
    var(--color-background-dark)
  );
  color: var(--color-text-primary);
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  min-height: 100dvh;
  margin: 0;
}

.ch-display,
h1,
h2 {
  font-family: var(--font-family-heading);
  font-weight: 600;
}

h3 {
  font-family: var(--font-family-mono);
}

h4 {
  font-family: var(--font-family-body);
}

h5,
h6 {
  font-family: var(--font-family-mono);
}
