.base {
  background: none;
  border: none;
  height: var(--size-touch-min);
  width: var(--size-touch-min);
  color: light-dark(var(--on-surface-light), var(--on-surface-dark));
}

.base:hover {
  background-color: light-dark(var(--surface-lightt), var(--surface-dark));
}
