.base {
  display: flex;
  width: 100%;
  background-color: light-dark(
    var(--surface-light),
    var(--surface-dark)
  );
  margin-top: 0.5rem;
}

.label, .description {
  color: light-dark(
    var(--on-surface-light),
    var(--on-surface-dark)
  );
}


