.container {
  display: flex;
  background-color: light-dark(
    var(--surface-container-light),
    var(--surface-container-dark)
  );
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
}
